---
ip: "192.168.10.10"
memory: 2048
cpus: 1
hostname: rsvp-me
name: rsvp-me
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: "/Users/colehafner/Sites/rsvp-me"
      to: "/home/vagrant/rsvp-me"

sites:
    - map: rsvp-me.dev
      to: "/home/vagrant/rsvp-me/public"

databases:
    - rsvp_me

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
